// All Colors

$mint: #3fb485;
$medium-orchid: #ce4ad8;
$chocolate: #d46b35;
$rich-black: #181c28;
$shadow-blue : #7882a2;
$gunmetal: #292d39;
$blue-jeans: #39b6ff;
$turquoise-green: #c0e5c8;
$eton-blue: #85B79D;
$mount-pink: #8B728E;
$english-violet: #694873;


// Used Colors

$bg-color: $rich-black;
$font-color: $shadow-blue;
$item-color: $gunmetal;


// Font Vars
$font-size: 15px;