// All Colors

$mint: #3fb485;
$lime-yellow: #e3d26f;
$medium-orchid: #ce4ad8;
$chocolate: #d46b35;
$rich-black: #181c28;
$shadow-blue : #7882a2;
$gunmetal: #292d39;
$blue-jeans: #39b6ff;
$turquoise-green: #c0e5c8;
$eton-blue: #85B79D;
$mount-pink: #8B728E;
$english-violet: #694873;
$space-gray: #697478;


// Used Colors

$bg-color: $rich-black;
$font-color: $shadow-blue;
$second-font-color: $space-gray;
$item-color: $gunmetal;
$good-color: $mint;
$normal-color: $lime-yellow;
$bad-color: $chocolate;


// Font Vars
$font-size: 15px;


// Breakpoints
$sc-big-large: 1920px;
$sc-large: 1366px;
$sc-big-medium: 1024px;
$sc-medium: 768px;
$sc-big-small: 480px;
$sc-small: 360px;