.side-panel {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: $item-color;
  @include box-shadow;
  animation: show-side-menu-left 1s ease;
}


@media only screen  and (max-width: $sc-big-medium) {
  .side-panel {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 100px;
    animation: show-side-menu-top 1s ease;
  }
};