

.modal-popup {
  position: static;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $item-color;
  color: $lime-yellow;
  box-shadow: 0 0 8px 2px rgba($lime-yellow, 0.37);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translate3d(120%, 0, 0);
}

.modal-popup__group {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: all 0.5s ease;
  z-index: 999;
}

.modal-popup__item {
  padding: 10px 0;
}

.modal-popup__icon {
  margin-right: 15px;
}

.modal-popup.base-popup {
  color: $font-color;
  @include box-shadow
}

.modal-popup.warn-popup {
  color: $lime-yellow;
  box-shadow: 0 0 8px 2px rgba($lime-yellow, 0.37);
}

.modal-popup.error-popup {
  color: $chocolate;
  box-shadow: 0 0 8px 2px rgba($chocolate, 0.37);
}

.modal-popup.good-popup {
  color: $mint;
  box-shadow: 0 0 8px 2px rgba($mint, 0.37);
}

.modal-popup.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}