.main-wrapper {
  width: 100%;
  height: 100%;
  // background: linear-gradient(to bottom right, $bg-color, darken($bg-color, 7%) );
  display: flex;
}

.main {
  flex: 1;  
}

@media only screen and (max-width: $sc-big-medium) {
  .main-wrapper {
    flex-direction: column;
  }
};