.side-more {
  position: absolute;
  width: 470px;
  height: 300px;
  @include box-shadow;
  border-radius: 5px;
  top: 10px;
  left: calc(100% + 10px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translate3d(0, -120% ,0);
}

.side-more.active {
  opacity: 1;
  transform: translate3d(0, 0% ,0);
}

@media only screen and (max-width: $sc-big-medium) {

  .side-more {
    top: calc(100% + 10px);
    left: 10px;
    transform: translate3d(-120%, 0 ,0);
  }

}

@media only screen and (max-width: $sc-big-small) {
   
  .side-more {
    width: calc(100% - 20px);
  }
}