.common-input--wrap {
  margin-top: 10px;
  box-sizing: content-box;
  position: relative;
  width: 100%;
}

.common-input__label {
  position: absolute;
  color: $second-font-color;
  font-size: 15px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

.common-input__input {
  position: relative;
  width: 100%;
  padding: 10px 5px 5px 5px;
  margin: 5px 0;
  border: none;
  transition: border-bottom-color 0.5s ease, box-shadow 0.5s ease;
  border-bottom: 2px solid $second-font-color;
  box-shadow: 0 0 20px 0px $second-font-color;
}

.common-input__input:focus {
  outline: none;
}


.common-input__input:focus ~ .common-input__label,
.common-input__input:valid ~ .common-input__label {
  color: $eton-blue;
  font-size: 10px;
  top: -5px;
}

.common-input__input:focus {
  border-bottom-color: $eton-blue;
  box-shadow: 0 0 20px 0px $eton-blue;
}